img{
	width: 400px;
	height: 330px;

	transition: 1s;
}
ul {
	list-style-type: none;


}



.active-photo {
	position: fixed;
	width: 60vw;
	height: 70vh;
	top: 10vh;
	left: 17vw;
	z-index: 100;
}


.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0;
	z-index: 100;

}

.left {

	width: 3vw;
	height: 5vh;
	position: fixed;
	left: 0;
	top: 50vh;
	margin: 0;
}

.right {

	width: 3vw;
	height: 5vh;
	position: fixed;
	right: 0;
	top: 50vh;
	margin: 0;
}

.exit {
	z-index: 1000;
	width: 5vw;
	height: 5vh;
	position: fixed;
	right: 0vw;
	top: 0vh;
	margin:0;

}
button {
	display: block;
	margin: 0 auto;
}


.photo-wrapper {
	display: inline-block;
	perspective: 1000;
	margin: 50px;
}

/* entire container, keeps perspective */

	/* flip the pane when hovered */
	/*.photo-wrapper:hover .flipper,*/
	.photo-wrapper.clicked .flipper {
		transform: rotateY(180deg);
	}

.photo-wrapper, .front, .back {
	width: 320px;
	height: 330px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
		transform-style: preserve-3d;
		width: 400px;
		height: 400px;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	border: 2px solid black;
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 330;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
